---
layout: base.njk
---

<div id="content" class="book">
  <h1>{{ title }}</h1>

  <div class="summary">
    {{ content | safe }}

    <ul class="buy-links">
      <li>Découvre le premier chapitre gratuitement <a href="{{ pdfLink | url }}">PDF</a> <a href="{{ audioLink | url }}">Audio</a></li>
      <li><a href="{{ amazonLink | url }}">Achète la version papier sur Amazon.fr</a></li>
      <li><a href="{{ bodLink | url }}">Achète la version digital sur BoD.fr</a></li>
    </ul>
  </div>

  <picture>
    <source type="image/avif" srcset="/img/{{ cover | url }}.avif">
    <source type="image/webp" srcset="/img/{{ cover | url }}.webp">
    <img src="/img/{{ cover | url }}.png" alt="" loading="lazy">
  </picture>
</div>

<blockquote id="excerpt">
  <p>Je me suis souvent demandé qui je voulais être. J'ai passé le plus clair de mon temps à chercher qui j'étais. A l'image d'un enfant qui s'entête, j'ai testé des choses. J'ai rempli ma vie, j'ai consommé. J'ai couru après les choses. J'ai oublié de vivre.</p>
</blockquote>

<section id="testimonials">
  <blockquote>
    J'ai adoré comme une tarte aux pommes
    <address>Annie L.</address>
  </blockquote>
  <blockquote>
    J'ai adoré comme une tarte aux pommes
    <address>Annie L.</address>
  </blockquote>
  <blockquote>
    J'ai adoré comme une tarte aux pommes
    <address>Annie L.</address>
  </blockquote>
</section>

<section id="about">
  <img src="/img/paul-valensier.jpg" alt="Paul le fumeur de pipe" loading="lazy">
  <p>Je m'appelle Paul Valensier Je m'appelle Paul Valensier Je m'appelle Paul Valensier Je m'appelle Paul Valensier Je m'appelle Paul Valensier Je m'appelle Paul Valensier Je m'appelle Paul Valensier Je m'appelle Paul Valensier Je m'appelle Paul Valensier Je m'appelle Paul Valensier.</p>
</section>