---
layout: base.njk
---

<div id="content" class="book">
  <div class="summary">
    <h1>{{ title }}</h1>

    {{ content | safe }}

    <p><i>Publication en cours, <a href="mailto:salut@paul-valensier.com">contacte l'auteur</a> pour en savoir plus.</i></p>
  </div>

  <picture>
    <!-- source type="image/avif" src="/img/{{ cover | url }}.avif" -->
    <source type="image/webp" src="/img/{{ cover | url }}.webp">
    <img src="/img/{{ cover | url }}.png" alt="" loading="lazy">
  </picture>
</div>

<blockquote id="excerpt">
  <p>{{ quote | typeset }}</p>
</blockquote>

<section id="testimonials">
  {% for testimonial in testimonials %}
  <blockquote>
    {{ testimonial.quote | typeset }}
    <address>{{ testimonial.name }}</address>
  </blockquote>
  {% endfor %}
</section>
